@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .slider {
    display: block;
    width: 100%;
    appearance: none;
    outline: none;
    border-radius: 50px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .slider::-webkit-slider-thumb {
    appearance: none;
    cursor: pointer;
    width: 5px;
    height: 5px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
  }
}
